* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #15181c;
    --white-color: #fff;
    --blue-color: #02a495;
    --gray-color: #a8a8b3;
    --black-color:#090e24;
    --text-color: #1A202C;
}

body {
    height: 100%;
    background-color: var(--white-color);
}