<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>on vagas | Início</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">

    <!--RESPONSIVE-->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap" rel="stylesheet">

    <!--ICONS-->
    <script type="text/javascript" src="https://kit.fontawesome.com/c939d0e917.js"></script>

</head>
<body>
    <main id="main">
        <header id="header">
            <div class="container">
                <h1>Dashboard</h1>
                <div class="header_nav">
                    <div class="minhas_vagas">
                        <a href="/" class="button">Minhas Vagas</a>
                    </div>
                    <div class="vagas_externas">
                        <a href="/" class="button">Vagas Externas</a>
                    </div>
                    <div class="avatar">
                        <img src="/assets/images/avatar.png" alt="Profile Image">
                    </div>
                </div>
            </div>
        </header>
        <aside class="sidebar">
            <div class="side__header">
                <div class="logo">
                    <img src="/assets/images/logo-dark.png" alt="on vagas">
                </div>
                <button class="hamburguer">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <nav class="navbar">
                <ul>
                    <li>
                        <div class="search__input">
                            <input type="text" placeholder="Buscar">
                            <img src="/assets/images/search.svg" alt="Lupa">
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>  
        <section class="wrapper">
            <div class="card">
                <h2 class="card__title">
                    Vaga Cadastrada
                </h2>
                <span>
                    Nome: <strong>Osni Melo</strong> 
                </span>
                <span>
                    Descrição: <strong>Uma vaga disponível para um fullstack, que seja capaz de desenvolver uma aplicação como a OnVagas</strong>
                </span>
                <a href="/" class="button">Aplicar</a>
            </div>
            <div class="card">
                <h2 class="card__title">
                    Vaga Cadastrada
                </h2>
                <span>
                    Nome: <strong>Alex Fullstack</strong> 
                </span>
                <span>
                    Descrição: <strong>Uma vaga disponível para um fullstack, que seja capaz de desenvolver uma aplicação como a OnVagas</strong>
                </span>
                <a href="/" class="button">Aplicar</a>
            </div>
            <div class="card">
                <h2 class="card__title">
                    Vaga Cadastrada
                </h2>
                <span>
                    Nome: <strong>Joãozinho Oliveira</strong> 
                </span>
                <span>
                    Descrição: <strong>Uma vaga disponível para um fullstack, que seja capaz de desenvolver uma aplicação como a OnVagas</strong>
                </span>
                <a href="/" class="button">Aplicar</a>
            </div>
            <div class="card">
                <h2 class="card__title">
                    Vaga Cadastrada
                </h2>
                <span>
                    Nome: <strong>Mariazinha Oliveira</strong> 
                </span>
                <span>
                    Descrição: <strong>Uma vaga disponível para um fullstack, que seja capaz de desenvolver uma aplicação como a OnVagas</strong>
                </span>
                <a href="/" class="button">Aplicar</a>
            </div>
            <div class="card">
                <h2 class="card__title">
                    Vaga Cadastrada
                </h2>
                <span>
                    Nome: <strong>Cleitin Oliveira</strong> 
                </span>
                <span>
                    Descrição: <strong>Uma vaga disponível para um fullstack, que seja capaz de desenvolver uma aplicação como a OnVagas</strong>
                </span>
                <a href="/" class="button">Aplicar</a>
            </div>
            <div class="card">
                <h2 class="card__title">
                    Vaga Cadastrada
                </h2>
                <span>
                    Nome: <strong>Creuzinha Oliveira</strong> 
                </span>
                <span>
                    Descrição: <strong>Uma vaga disponível para um fullstack, que seja capaz de desenvolver uma aplicação como a OnVagas</strong>
                </span>
                <a href="/" class="button">Aplicar</a>
            </div>
        </section>
    </main>
</body>
</html>