<aside class="aside__container">
    <div class="wrapper">
        <h2 class="title">Conheça a ON Vagas</h2>
        <p class="description">Compartilhe seu currículo aqui e encontre as melhortes oportunidades.</p>
    </div>
    <img src="/assets/images/image_login.svg" alt="">
</aside>